{%extends 'base.html'%} 
{% block content %}
<div class="container">

  <div class="row">
    {% if images%}
      <h2>Found {{ images|length }} of searched term {{message}}</h2>
    {% else %}
      <h2> Found 0 Images for the search term/location {{message}}</h2>
    {% endif %}

  </div>

  <div class="row">

  {% if images %}
    {% for image in images %}
    <div class="row">
      <div class="col-xs-18 col-sm-6 col-md-3">
      <div class="thumbnail" data-toggle="modal" data-target="#{{image.id}}" style="width:300px; height: 300px;">
      <img src="{{image.image.url}}" alt="{{image.name}}" class="img-fluid img-thumbnail" style="width:280px; height: 200px;" >
      <h4 class="text-center"> <b>{{image.name}}</b></h4>
      <!-- <p>{{image.desc}}</p> -->
  </div>
  </div>
  <div class="modal fade " id="{{image.id}}" tabindex="-1" role="dialog"
       aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-md" role="document">
          <div class="modal-content modalcard">
              
                  
              </div> -->
              <div class="modal-body">
                  <div class="row">
                      <div class="col-md-8">
                  <img src="{{image.image.url}}" alt="{{image.name}}" class="img-fluid" width="350">
                  </div>
                  <div class="col-md-4">
                  <span class="btn btn-sm btn-outline-success">Category: <i><b>{{image.category}}</b></i></span>
                  <span class="btn btn-sm btn-outline-success">Location: <i><b>{{image.loc}}</b></i></span> 
              </div>
          </div>
              <h5 class=""><b>{{image.name}}</b></h5>
              <p class="imgdesc text-center">{{image.desc}}</p>
              
              </div>
              <div class="modal-footer">
                  <input class="form-control input-lg" type="text"
                         value="{{image.image.url}}" id="{{image.id}}.url">
                  <button class="btn btn-success btn-sm" onclick="copyLink('{image.image.url')">CopyImageAddress</button>
                  <button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal">Close
                  </button>
              </div>
          </div>
      </div>
  </div>
  
  
    {% endfor %}
  {% endif %}
  </div>
</div>
</div>

{% endblock %}